{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Posts{% endblock %}</h3>
  {% if users %}
    <a class="action" href="{% url 'blog:create' %}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post.title }}</h1>
          <div class="about">by {{ post.user.username }} on {{ post.created|date:"Y-m-d" }}</div>
        </div>
        {% if request.session.userid == post.user.id %}
          <a class="action" href="{% url 'blog:update' post.id %}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post.body }}</p>
    </article>
    {% if not loop.last %}
      <br>
    {% endif %}
  {% endfor %}
{% endblock %}